## editors
/.idea
/.vscode
/.editorconfig
*~

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/
/assets/faust/*
/src/faust/faustwasm/
/src/faustwasm/

storybook-static
custom-elements.json

